.modal-window {
  border: 2px solid;
  border-radius: 10px;
  margin: 0 auto;
  width: 300px;
  height: 250px;
  background-color: rgba(226, 223, 223, 0.438);
}

h1 {
  display: flex;
  justify-content: center;
  font-family: "Nunito";
  font-weight: 900;
  font-size: 15px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.label {
  font-family: "Nunito";
  font-weight: 900;
  font-size: 15px;
  line-height: 20px;
}

.input {
  font-family: "Nunito";
  font-weight: 800;
  font-size: 13px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 200px;
  border: 2px solid;
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.input:hover {
  box-shadow: 0px 4px 4px rgb(5, 66, 8);
}

.button {
  font-family: "Nunito";
  font-weight: 800;
  font-size: 13px;
  width: 100px;
  border: 2px solid;
  border-radius: 15px;
  background-color: rgba(59, 124, 63, 0.911);
}

.button:hover {
  background-color: rgb(18, 88, 24);
  box-shadow: 0px 4px 4px rgb(5, 66, 8);
  transform: cubic-bezier(0.16, 0.49, 1, -0.55);
}
